@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
Try JavaScript Logging
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Config</h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-12">
        <h2>Write log messages</h2>

        <a id="write-debug-log" class="btn btn-default">Debug</a>
        <a id="write-info-log" class="btn btn-default">Info</a>
        <a id="write-error-log" class="btn btn-default">Error</a>
    </div>
    
    @*<div class="col-md-12">
        <h2>Log Entries</h2>

        <a id="loadg" class="btn btn-default">Load</a>
        
        <div id="logEntries">
            
        </div>
    </div>*@
</div>

@section scripts
{

    <script>

        // Of course we would use a js file if this was a real app ;)

        $(function() {
            $("#write-debug-log").click(function() {
                window.app.logger.debug("Clicked Debug", "user actions");
            });

            $("#write-info-log").click(function() {
                window.app.logger.info("Clicked Info", "user actions");
            });

            $("#write-error-log").click(function() {
                window.app.logger.error("Oh no", "user actions");
            });
        });


    </script>
}